[Desktop Entry]
Name=WMRecord
Comment=Recording Utility
Comment[pl]=Narzędzie Nagrywające
Exec=wmrecord
Terminal=0
Type=Application
# vi: encoding=utf-8
