[Desktop Entry]
Name=WmRecord
Comment=Recording Utility
Comment[pl]=Narzędzie Nagrywające
Exec=wmrecord
Terminal=false
Type=Application
Categories=Applet;
NotShowIn=GNOME;KDE;
# vi: encoding=utf-8
